* {
  padding: 0;
  margin: 0;
  font-family: Fira Code;
  color: #fff;
}
.conteiner{
  padding: 0 190px;
  width: 960px;
}
ul,li,a,button{
  list-style: none;
  text-decoration: none;
  border: none;
  border-radius: none;
}
.textCenter{
  text-align: center;
}
.btn{
  color: #fff;
  background-color: #f4455c;
  width: 100px;
  border-radius: 5px;
  text-align: center;
}
.btn:hover{
  opacity: 0.8;
}
.marginRight30{
  margin-right: 30px;
}
.textRight{
  text-align: right;
}
label{
  float: left;
  margin-top: 20px;
}
label, input{
  color: #000;
}
.fl-lf{
  float: left;
}
.fl-rt{
  float: left;
}