footer{
  margin-top: 400px;
  background-color: rgb(66, 59, 59);
  width: 100%;
  text-align: center;
  height: 250px;
  bottom: 0;
}
footer .conteiner .boxContent{
  margin-top: 20px;
  display: inline-flex;
}
footer .conteiner .boxContent h3{
  color: #fff;
}
footer .conteiner .boxContent .box{
  flex: 1;
}
footer .conteiner .boxContent .box nav{
  margin: 10px 0 0 10px;
}
footer .conteiner .boxContent .box nav ul {
  text-align: left;
}
footer .conteiner .boxContent .box nav ul li{
  margin-top: 10px;
}
footer .conteiner .boxContent .box nav ul li a{
  color: #ccc;
}
footer .conteiner .boxContent .box nav ul li a:hover{
  opacity: 0.8;
}
footer .conteiner .boxContent .mg{
  margin-right: 400px;
}
footer .conteiner .direitos{
  margin-top: 70px;
}
footer .conteiner .direitos p{
  color: #fff;
}
footer .conteiner .direitos .border{
  border: 1px solid #ccc;
  margin-bottom: 5px;
}
footer .conteiner .direitos h6{
  font-size: 10px;
}