body{
  background-color: #efefef;
}
section .imgDisplay {
  height: 100%;
  background-color: aliceblue;
  padding-top: 400px;
}
section .imgDisplay .conteiner .btnOption{
  margin-top: 30px;
}
section .imgDisplay .conteiner .btnOption .btn{
  padding: 10px 40px;
}